*{
  margin: 0;
  
}
.App{
  overflow: hidden;
  background: rgb(56,1,1);
background: linear-gradient(135deg, rgba(56,1,1,1) 6%, rgba(19,5,103,1) 51%, rgba(94,10,177,1) 77%);
}

.cursor{
  position: absolute;
  height: 3rem;
  width: 3rem;
  transition-timing-function: ease-in-out 1s ;
  z-index: 1;
  opacity: 0.2;
  box-shadow: 0px 0px 30px  30px  rgb(170,31,31), 0px 0px 20px  20px  rgb(31, 73, 170),0px 0px 50px  50px  rgb(232, 19, 240) ,0px 0px 50px  50px  rgb(234, 234, 234)
  
  ;
 
  border-radius: 30% 70% 92% 8% / 63% 42% 58% 37% ;
  animation: cursor 1s infinite alternate;
}

@keyframes cursor {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(20deg);
    border-radius: 50% ;
    box-shadow: 0px 0px 20px  20px  rgba(170, 31, 31, 0.75), 0px 0px 20px  20px  rgba(31, 73, 170, 0.763),0px 0px 50px  50px  rgba(233, 19, 240, 0.774)
  }

  
}
