.footer-container{
    margin-top: 5rem;
    height: rem;
    width: 100%;
    border-top: 3px rgb(0, 0, 0) solid;
    background-color: rgba(140, 0, 255, 0.883);
    text-align: center;
    color: white;
    padding: 0.5rem 0rem;
    
}
.footer-banner{
    font-size: 1.5rem;
}